# .env
APP_PORT=3000
# mysql
TYPEORM_HOST=127.0.0.1
TYPEORM_USERNAME=
TYPEORM_PASSWORD=
TYPEORM_DATABASE=tian
TYPEORM_PORT=3306
TYPEORM_LOGGING=true
TYPEORM_ENTITIES=dist/**/**.entity{.ts,.js}
TYPEORM_SYNCHRONIZE=false
TYPEORM_MIGRATIONS_RUN=false